main {
  font-family: monospace, monospace;
  max-width: 48rem;
  padding: 2rem;
  margin: auto;
}

@media only screen and (max-device-width: 736px) {
  main {
    padding: 1rem;
  }
}

::selection {
  background: #d3869b;
}

body {
  background: #000000;
  color:      #f0f0f0;
}

pre {
  background-color: #222222 !important;
  color: #f0f0f0 !important;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #f0f0f0;
}

h1, h2, h3, h4, h5 {
  margin-bottom: .1rem;
}

blockquote {
  border-left: 1px solid #bdae93;
  margin: 0.5em 10px;
  padding: 0.5em 10px;
}

.highlight, pre {
  overflow-x: auto;
}

footer {
  align: center;
}

img {
    width: 100%;
}

.nav-item{
    margin-right: 5px;
}

.nav-bar {
    margin-top: 10px;
}
