$primary-color:rgb(18, 18, 20);
$secondary-color: rgb(229, 229, 234);
$tag-color: #670db5;
$tag-background: #ead1ff;
$code-background: rgb(28, 28, 32);


html {
    padding-bottom: 5vh;
}

body {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
    font-size: 1rem;
    color: $secondary-color;
    min-height: 100vh;
    margin: 0;
    line-height: 1.5;
    background-color: $primary-color;
    padding-bottom:;
    position: relative;
}

a {
    color: #33ccff;
}

.link-fix {
    color: $secondary-color;
    text-decoration: none;
}

.date {
    color: #9b9b9b !important;
    font-size: 0.8rem;
}

/* 
* Styling for header
*/

#header {
    padding: 24px 0;
}

#header-top {
    display: flex;
    justify-content: space-between;
}

#header-left {
    display: inline-block;
}

#header-right {
    display: inline-block;
}

#header-right > * {
    display: inline-block;
    vertical-align: sub;
}

#header > .nav-bar {
    margin-top: 16px;
    padding-top: 4px;
    display: block;
}

#header > .nav-bar > .nav-item {
    font-size: 1rem;
    margin: 0 4px;
}

#header > div > div > a > .title {
    font-size: 1.5rem;
    margin: 0px;
}

#header > div > div > a > .handle {
    font-size: 0.9rem;
    margin: 0px;
    color: #9b9b9b;
    font-weight: 400;
    padding: 0;;
}

/* 
* Styling for jumbotron
*/

#jumbotron > .description {
    margin: 0;
    padding: 24px 0;
}

/* 
* Styling for posts
*/

.post {
    padding: 8px 0;
}

.post-title {
    margin: 0;
    font-weight: 500;
}

/* 
* Styling for pagination
*/

.pagination {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.pagination > a > svg {
    color: $secondary-color;
    padding-bottom: 10px;
}

/* 
* Styling for tags
*/

.post-tags {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin-top: 24px;
}

.post-tag {
    display: inline-block;
    text-decoration: none;
    padding: 0.2em 0.5em;
    border-radius: 3px;
    background: $tag-background;
    color: $tag-color;
    font-size: 1rem;
    margin: 0.2rem;
}


/* 
* Styling for footer
*/

#footer {
    display: flex;
    justify-content: center;
    font-size: 0.875rem;
    margin: 24px 0;
}


h1,
h2,
h3,
h4,
h5,
h6,
nav > *,
.time,
footer,
.posttag {
    font-family: Roboto, -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
        Oxygen-Sans, Ubuntu, Cantarell, helvetica neue, sans-serif;
}

.navitems {
    vertical-align: middle;
}

.post > a {
    color: $secondary-color !important;
    text-decoration: none;
}

#content > h3 > a.title {
    color: $secondary-color;
    text-decoration: none !important;
    font-weight: 500;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 0 20px;
}

.time,
footer p {
    color: #9b9b9b;
    font-size: 0.8rem;
    margin: 0;
    display: block;
}

.social-icons {
    display: flex;
    justify-content: center;
    padding-top: 16px;
    height: 24px;
}
.social-icons__link {
    color: $secondary-color;
    text-decoration: none;
    margin: 8px;
}

p {
    line-height: 1.5rem;
}

.posttags {
    display: flex;
    justify-content: flex-end;
}

.blogname {
    font-size: 1.6rem;
    color: $secondary-color;
    text-decoration: none;
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    justify-content: flex-end;
}

.post-title {
    margin-bottom: 0;
}

/* 
* Styling for code
*/

pre, .highlight {
    line-height: 1.45;
    margin-top: 1.5rem;
    padding: 16px;
    word-wrap: normal;
    overflow: auto;
    background-color: $code-background !important;
    border-radius: 3px
}

img {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 2px;
}

blockquote {
    margin-top: 3rem;
    margin-bottom: 3rem;
    line-height: 1.5rem;
    color: $secondary-color;
}

blockquote::before {
    position: absolute;
    content: "\201C";
    font-size: 6em;
    font-family: roboto,serif;
    margin-top: .1em;
    margin-left: -.2em;
    z-index: -1;
    color: #444;
}

blockquote cite {
    font-style: italic;
    font-size: .95em;
    color: #717171
}

blockquote cite::before {
    content: "— "
}

 h2 .anchor,  h3 .anchor {
    text-decoration: none;
    position: absolute;
    left: -1rem;
    color: #666;
    font-size: 1.5rem;
    font-weight: 400;
}

h2,
h3 {
    position: relative;
    padding-top: 10px;
}

h1 {
    font-size: 2.121rem;
    line-height: 2.25rem;
    margin-top: 2.25rem
}

h2 {
    font-size: 1.414rem
}

h3 {
    font-size: 1.17833333rem
}

h4 {
    font-size: .98194444rem
}

h5 {
    font-size: .81828704rem
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 1.5rem; 
    margin-bottom: 0; 
    line-height: 1.5rem; 
}


code {
    font-size: 85%;
    font-family: sfmono-regular,Consolas,Menlo,monospace;
    padding: .2em .4em;
    margin: 0;
    background-color: $code-background;
    border-radius: 3px;
    line-break: anywhere;
}

pre>code {
    word-break: normal;
    white-space: pre
}

pre code {
    display: inline;
    padding: 0;
    margin: 0;
    overflow: visible;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.post > .post-title {
    padding-top: 0;
    padding-bottom: 12px;
}

#content > h2 {
    margin-bottom: 8px;
}

.draft-label {
    border: 1px solid $secondary-color;
    border-radius: 3px;
    padding: 2px;
    font-size: 0.8rem;
}