.logo__cursor {
	background-color: white;
}
.post-cover > img {
	display: inline-block;
}

.post-cover {
		text-align: center;
}

#cookies-eu-banner {
	border: 2px solid #a9a9b3;
	padding: 20px;
	margin: 20px auto;
	border-radius: 8px;
}

#cookies-eu-reject, #cookies-eu-accept {
	display: flex;
	color: #a9a9b3;
	/*background-color: transparent;*/
	padding: 5px;
	flex-shrink: 0;
}

.padding {
	padding: 0px 20px;
}

.flex {
	display: flex;
	margin-top: 10px;
	justify-content: flex-end;
}

div > figure > img {
	object-fit: cover;
	height: 200px;
	width: 100%;
}

